body{
  background-color:rgb(31,40,51);
}

.content{
  display:flex;
}

header{
  font-family: arial black;
  font-size: 75px;
  color:white;
  text-align:center;
}

article{
  font-size:30px;
  text-align:center;
  width: 75vw;
  font-family: monospace;
  margin:55px;
  color:white;
}

a{
  color:white;
  font-family: arial black;
  font-size: 35px;
  text-align:left;
  width:25vw;
  text-decoration:none;
}

ul{
  margin-left:20px;
  width:170px;
  color:white;  
  font-family: arial black;
  font-size: 35px;
  border-style:solid;
  border-width:6px;
  border-color:rgb(246,76,114);
  border-radius: 6px 12px 18px 24px;
}

a:hover {
  color: grey;
}

aside{
  margin-right:20px;
  margin-top: 60px;
}

footer{
  margin:0;
  text-align:center;
  width:100%;
  bottom:0%;
  height:35px;
  position: fixed;
  font-family: monospace;
  font-size: 25px;
  color:grey;
  background-color: rgb(31,40,51);
}