.content{
  display:flex;
}

header{
  font-family: arial black;
  font-size: 75px;
  color:white;
  text-align:center;
}

body{
  background-color:rgb(31,40,51);

}

a{
  color:white;
  font-family: arial black;
  font-size: 35px;
  text-align:left;
  width:25vw;
  text-decoration:none;
}

ul{
  margin-left:25px;
  width:170px;
  color:white;  
  font-family: arial black;
  font-size: 35px;
  border-style:solid;
  border-width:6px;
  border-color:rgb(246,76,114);
  border-radius: 6px 12px 18px 24px;
}

a:hover {
  color:grey;
}

img{
  margin-left:10vw;
}

article{
  text-align:center;
  color:white;
  font-family: monospace;
  font-size: 35px;
  width:60vw;
  text-decoration:none;
  margin-left:15vw;
  margin-top:3vw; 

}

footer{
  margin:0;
  text-align:center;
  width:100%;
  bottom:0%;
  height:35px;
  position: fixed;
  font-family: monospace;
  font-size: 25px;
  color:grey;
  background-color: rgb(31,40,51);
}