body{
  background-color:rgb(36,37,130);
}

.content{
  display:flex;
}

iframe{
  margin:15px;
}

header {
  text-align: center;
  font-family: monospace;
  font-size: 60px;
  color:white;
}

a{
  color:white;
  font-family: monospace;
  font-size: 40px;
  text-decoration:none;
}

a:hover{
  color:grey;
}

nav{
  color:white;
  font-family: monospace;
  font-size: 30px;
  text-decoration:none;
  margin-left:2vw;
  
}

aside{
  margin-top: 20vw;
  margin-right:2vw;
}