footer{
  margin:0;
  text-align:center;
  width:100%;
  bottom:0%;
  height:35px;
  position: fixed;
  font-family: monospace;
  font-size: 25px;
  color:grey;
  background-color: rgb(36,37,130);
}

body{
  background-color:rgb(47,47,162);
}

.content{
  display:flex;
}

header{
  width:600px;
  font-family: monospace;
  font-size: 75px;
  color:white;
  text-align: center;
  border-style:solid;
  border-width:7px;
  border-color:rgb(246,76,114);
  border-radius: 6px 12px 18px 24px;
  margin:30px;
}

ul{
  color:white;  
  font-family: monospace;
  font-size: 30px;
  text-decoration:none;
}

nav{
  width:27vw;
  font-size:45px;
  font-family: monospace;
  text-decoration:none;
}

a{
  color:white;
  font-family: monospace;
  font-size: 45px;
  width:20vw;
  text-decoration:none;

}

info{
  margin:5px;
  text-align:center;
  height:350px;
  width:45vw;
  color:white;
  font-size:35px;
  font-family: monospace;
}

a:hover{
  color:rgb(22, 21, 21);
}

img{
  position: absolute;
  top: 0px;
  right: 0px;

}
