body{
  background-color:rgb(143, 203, 223);
}

.content{
  display:flex;
}


header{
  font-family: monospace;
  font-size: 75px;
  color:rgb(11, 82, 104);
  text-align: center;
  border-style:solid;
  border-width:7px;
  border-color:rgb(20, 114, 109);
  border-radius: 6px 12px 18px 24px;
  margin:30px;

}

ul{
  color:grey;  
  font-family: monospace;
  font-size: 30px;
  text-decoration:none;
}

nav{
  width:27vw;
  font-size:45px;
  font-family: monospace;
  text-decoration:none;
}

a{
  color:grey;
  font-family: monospace;
  font-size: 45px;
  width:20vw;
  text-decoration:none;
}

info{
  margin:5px;
  text-align:center;
  height:350px;
  width:45vw;
  color:grey;
  font-size:35px;
  font-family: monospace;
}

a:hover {
  color:rgb(22, 21, 21);
}

footer{
  text-align:center;
  width:100%;
  bottom:0%;
  height:50px;
  position:fixed;
  font-family: monospace;
  font-size: 25px;
  color:grey;
}

